*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: monospace, sans-serif;
  color: #888;
  font-weight: 400;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 70vh;
  margin-top: 8%;
  padding: 1rem;
}

.grid_top, .grid_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid_top {
  margin-bottom: 2rem;
}

.main-icon {
  font-size: 6rem;
  color: orange;
  margin-bottom: 2rem;
}
.title {
  color: black;
  margin-bottom: 3rem;
  font-size: 3.3rem;
}

.title_paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_input, .form_input:active {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: rgb(232, 240, 254);
  color: #333;
  border-radius: 3px;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.5rem;
}

.btn {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: white;
  background-color: rgb(101, 162, 70);
  border: none;
  border-radius: 1rem;
  transition: all .4s;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(58, 93, 41);
}

.clear-btn, .transparent {
  background-color: red;
  color: white;
  padding: .5rem 1rem;
  border: none;
  border-radius: .5rem;
  transition: all .4s;
  outline: none;
}
.clear-btn:hover {
  cursor: pointer;
  background-color: rgb(160, 40, 40);
}

.transparent {
  background-color: transparent;
  color: transparent;
  outline: none;
}
.weather {
  font-size: 1.8rem;
}

.weather p {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: .5px solid rgb(226, 226, 226);
}

.weather p:nth-child(6) {
  border-bottom: none;
}
.weather_data {
  color: black;
  text-transform: capitalize;
  margin-left: auto;
  padding-left: 2rem;
}

.weather_icon {
  font-size: 3rem;
}
.rotate {
  transform: rotate(180deg);
}

.error {
  align-self: flex-start;
  color: red;
  transition: all .2s;
  border-bottom: none !important;
}

.weather p:nth-child(1) .weather_icon {
  color: black;
}

.weather p:nth-child(2) .weather_icon {
  color:   rgb(201, 226, 255);;
}

.weather p:nth-child(3) .weather_icon {
  color:  rgb(179, 44, 44);
}

.weather p:nth-child(4) .weather_icon {
  color: rgb(147, 186, 229);
}

.weather p:nth-child(5) .weather_icon {
  color: rgb(255, 147, 41);
}

.weather p:nth-child(6) .weather_icon {
  color: #0077be 
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 55%;
  }
}